In [26]:
import pandas as pd

In [27]:
def filter_items(df, item_min_count, item_col='itemid', user_col='userid'):
    
    item_count = df.groupby(item_col)[user_col].nunique()
    item_ids = item_count[item_count >= item_min_count].index
    df = df[df[item_col].isin(item_ids)]

    return df


def filter_users(df, user_min_count, user_col='userid', item_col='itemid'):
    user_count = df.groupby(user_col)[item_col].nunique()
    user_ids = user_count[user_count >= user_min_count].index
    df = df[df[user_col].isin(user_ids)]
    
    return df

In [28]:
config = {
    'user_min_count': 20,
    'item_min_count': 5
}

In [29]:
df = pd.read_csv('datasets/beer_reviews.csv').drop(
    ['brewery_id', 'brewery_name','review_overall','review_aroma','review_appearance','beer_style','review_palate','review_taste','beer_name','beer_abv'],
    axis=1
).rename(columns={'beer_beerid':'itemid','review_time':'timestamp','review_profilename':'userid'})
df.head()

    timestamp          userid  itemid
0  1234817823         stcules   47986
1  1235915097         stcules   48213
2  1235916604         stcules   48215
3  1234725145         stcules   47969
4  1293735206  johnmichaelsen   64883

In [30]:
df.nunique()

timestamp    1577960
userid         33387
itemid         66055
dtype: int64

In [31]:
df_ = filter_items(df, config['item_min_count'])
df_ = filter_users(df_, config['user_min_count'])

In [32]:
df_.head()

    timestamp         userid  itemid
5  1325524659        oline73   52159
6  1318991115      Reidrover   52159
7  1306276018   alpinebryant   52159
8  1290454503  LordAdmNelson   52159
9  1285632924   augustgarage   52159

In [33]:
df_ = df_.sort_values(['userid', 'timestamp'])
print(df_.shape)

(1409494, 3)

In [34]:
df_.userid = df_.userid.astype('category').cat.codes
df_.itemid = df_.itemid.astype('category').cat.codes

In [35]:
print(df_.shape)
df_.head()

(1409494, 3)

          timestamp  userid  itemid
614509   1205561385       0    5558
182729   1205823873       0    4224
1134674  1207011338       0    4577
462893   1207362193       0    9778
886485   1208211124       0   13122

In [36]:
df_.nunique()

timestamp    1402657
userid          7606
itemid         22307
dtype: int64

In [37]:
df_.to_csv('beer_advocate.csv', index=False)